body {
	background-color: #9857F2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 10px;
}

#checkTurn {
	color: #F2CC0C;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 25px;
}

.grid {
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	cursor: pointer;
}

.grid-locked {
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
